@model BreweryCollaborationWebbApp.Models.CollaborationRequest

@{
    ViewData["Title"] = "Details";

}

<h2>Details</h2>

<div>
    <h4>CollaborationRequest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Brewery)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Brewery.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReceiverId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReceiverId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
