@model BreweryCollaborationWebbApp.Models.Fan

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Fan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input asp-for="Id" type="hidden" />
            <input asp-for="ApplicationId" type="hidden" />
            <input asp-for="ApplicationUser" type="hidden" />
            <input asp-for="Latitude" type="hidden" />
            <input asp-for="Longitude" type="hidden" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zipcode" class="control-label"></label>
                <input asp-for="Zipcode" class="form-control" />
                <span asp-validation-for="Zipcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="LikesAle" /> @Html.DisplayNameFor(model => model.LikesAle)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="LikesLager" /> @Html.DisplayNameFor(model => model.LikesLager)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="LikesIPA" /> @Html.DisplayNameFor(model => model.LikesIPA)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="LikesStout" /> @Html.DisplayNameFor(model => model.LikesStout)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="LikesPaleAle" /> @Html.DisplayNameFor(model => model.LikesPaleAle)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="LikesWheatBeer" /> @Html.DisplayNameFor(model => model.LikesWheatBeer)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="LikesPilsner" /> @Html.DisplayNameFor(model => model.LikesPilsner)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="LikesPorter" /> @Html.DisplayNameFor(model => model.LikesPorter)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="LikesSour" /> @Html.DisplayNameFor(model => model.LikesSour)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="LikesSaison" /> @Html.DisplayNameFor(model => model.LikesSaison)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
