@model IEnumerable<BreweryCollaborationWebbApp.Models.Fan>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zipcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LikesAle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LikesLager)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LikesIPA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LikesStout)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LikesPaleAle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LikesWheatBeer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LikesPilsner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LikesPorter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LikesSour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LikesSaison)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zipcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LikesAle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LikesLager)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LikesIPA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LikesStout)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LikesPaleAle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LikesWheatBeer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LikesPilsner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LikesPorter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LikesSour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LikesSaison)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
