@model BreweryCollaborationWebbApp.Models.Brewery

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Brewery</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Zipcode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Zipcode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Website)

        </dt>
        <dd>
            <a href="@Html.DisplayNameFor(model => model.Website)"> @Html.DisplayFor(model => model.Website)</a>
        </dd>
        <td>
            <img src=" @Url.Content(Model.Image)" style=" width:250px;height:275px;" />
        </td>
    </dl>
</div>

<div>

    <a asp-action="Index">Back to List</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Beer list
            </th>
            <a asp-controller="BreweryBeers" asp-action="Create">Create New</a>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BreweryBeers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    
                    <a asp-controller="BreweryBeers" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    
                </td>
            </tr>
        }
    </tbody>
</table>
