@model BreweryCollaborationWebbApp.Models.Brewery

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Brewery</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Zipcode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Zipcode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Website)

        </dt>
        <dd>
            <a href="@Html.DisplayNameFor(model => model.Website)"> @Html.DisplayFor(model => model.Website)</a>
        </dd>
    </dl>
</div>
<div>
</div>
<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.3&appId=318312125714566&autoLogAppEvents=1"></script>
    <div class="fb-like" data-href="https://www.facebook.com/BrokenBatBrewingCompany/" data-width="250" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>    
    <table>
        <tr>
            <td>Table Header</td>
            <ul>
                <li>

                </li>
            </ul>
        </tr>
    </table>

</body>
<br />
<div>

    <a asp-action="Index">Back to List</a>
</div>
