@model IEnumerable<BreweryCollaborationWebbApp.Models.Brewery>

@{
    ViewData["Title"] = "Index";
}

<h2>Breweries</h2>
<style>
    /* Set the size of the div element that contains the map */
    #map {
        height: 400px; /* The height is 400 pixels */
        width: 100%; /* The width is the width of the web page */
    }
</style>

<div class="row">
    <div id="map"></div>
    <script>

        var breweries = @Html.Raw(Json.Serialize(Model));

        console.log("test", breweries);
        // Initialize and add the map
        function initMap() {

            var milwaukee = { lat: 43.038, lng: -87.906 };
            var map = new google.maps.Map(
                document.getElementById('map'), { zoom: 10, center: milwaukee });

            //find logged in brewery and set it to loggedInBrewery
            var loggedInBrewery = FindLoggedInBrewery();
            console.log("logged in brewery", loggedInBrewery)

            //loop through all breweries sent to view and make pin for those where collaboration bool is true
            for (var i = 0; i < breweries.length; i++) {
                console.log("brewery", breweries[i]);

                var numberOfSharedFollowers = 0;
                var sharedFollowers;
                var fansWhoLikeAles = 0;
                var fansWhoLikeLagers = 0;
                var fansWhoLikeIPAs = 0;
                var fansWhoLikeStouts = 0;
                var fansWhoLikePaleAles = 0;
                var fansWhoLikeWheatBeers = 0;
                var fansWhoLikePilsners = 0;
                var fansWhoLikePorters = 0;
                var fansWhoLikeSours = 0;
                var fansWhoLikeSaisons = 0;

                //Check collaboration bool
                if (breweries[i].collaboration == true && breweries[i].id != loggedInBrewery.id) {
                    var marker = new google.maps.Marker({
                        position: { lat: breweries[i].latitude, lng: breweries[i].longitude },
                        map: map
                    });


                    console.log("breweries[i]", breweries[i])
                    var loggedInBreweryFollowers = loggedInBrewery.followers;
                    var pinnedBreweryFollowers = breweries[i].followers;

                    //find number of shared followers
                    for (var j = 0; j < loggedInBreweryFollowers.length; j++) {
                        for (var k = 0; k < pinnedBreweryFollowers.length; k++) {

                            if (loggedInBreweryFollowers[j].id == pinnedBreweryFollowers[k].id) {
                                console.log("pinned brewery followers", pinnedBreweryFollowers);
                                numberOfSharedFollowers++;
                                //sharedFollowers.add(sharedFollowers);
                            }
                        }
                    }

                    //Find tastes of pinned brewery's fans
                    //for (var l = 0; l < pinnedBreweryFollowers.length; l++) {


                    //}

                    console.log("Shared followers", numberOfSharedFollowers)

                    var infowindow = new google.maps.InfoWindow({

                        content: breweries[i].name + " Shared followers: " + numberOfSharedFollowers


                    });
                    infowindow.open(map, marker);
                    console.log("Breweries[i]", breweries[i]);
                };
            };

        };

        function FindLoggedInBrewery() {
            var loggedInBrewery;
            for (var i = 0; i < breweries.length; i++) {
                if (breweries[i].id == breweries[i].loggedInBreweryId) {
                    loggedInBrewery = breweries[i];
                }
            }
            return loggedInBrewery
        }



    </script>

    <script src=@($"https://maps.googleapis.com/maps/api/js?key={@ViewBag.GoogleMapsAPIKey}&callback=initMap")
            async defer></script>

</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zipcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Website)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Collaboration)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Zipcode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Website)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Collaboration)
                </td>
                <td>
                    @*<img src="@Url.Content(item.Image)"/>*@
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-controller="Follows" asp-action="Follow" asp-route-id="@item.Id">Follow</a> |
                    <a asp-controller="CollaborationRequests" asp-action="SendCollaborationRequest" asp-route-id="@item.Id">Collaboration Request</a>
                </td>
            </tr>
        }
    </tbody>
</table>