@model IEnumerable<BreweryCollaborationWebbApp.Models.Collaboration>
@{
    ViewData["Title"] = "Index";
}
<h2>Index</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <label>Collaboration Beer Name</label>
                @*@Html.DisplayNameFor(model => model.Name)*@
            </th>
            <th>
                <label>Beer Style</label>
                @*@Html.DisplayNameFor(model => model.BeerStyle)*@
            </th>
            <th>
                <label>Sender Name</label>
                @*@Html.DisplayNameFor(model => model.CollaborationRequest.SenderName)*@
            </th>
            <th>
                <label>Receiver Name</label>
                @*@Html.DisplayNameFor(model => model.CollaborationRequest.ReceiverName)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BeerStyle.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CollaborationRequest.SenderName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CollaborationRequest.ReceiverName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Create" asp-controller="Reviews" asp-route-id="@item.Id">Review</a>
                    @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>