@*@model BreweryCollaborationWebbApp.ViewModels.NewsFeedViewModel*@
@model IEnumerable<BreweryCollaborationWebbApp.Models.Collaboration>

@{
    ViewData["Title"] = "NewsFeedDetails";
}

<h2>NewsFeedDetails</h2>

<div>
    <h4>Collaboration</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BeerStyle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CollaborationRequest.SenderName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CollaborationRequest.ReceiverName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BrewSite)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BeerStyle.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CollaborationRequest.SenderName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CollaborationRequest.ReceiverName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BrewSite)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
